*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app {
    min-height: 100vh;
}

body {
    background-color: #333;
    color: rgb(255, 255, 255);
}

.tweet {
    height: 300px;
    width: 300px;
    text-align: center;
    border-radius: 32px;
    border: 2px solid aqua;
}

.red{
    color: red;
}

.badge {
    width: auto;
    height: 50px;
    background: brown;
    margin: 0 25px;
    font-size: 2rem;
    border-radius: 6px;
}
.badge-blue {
    width: auto;
    height: 50px;
    background: blue;
    margin: 0 25px;
    font-size: 2rem;
    border-radius: 6px;
}